/*
* Author: Alex P
* Project Name: Giftastic CSS
* Version: 1
* Date: 08.21.17
* URL: itsokayitsofficial.github.com/Giftastic/
*/


/*=========
Base Styles
=========*/


/*=========
Main
=========*/


/* Giphy Displays */

.tab-content {
	padding-top: 30px;
}

.show {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#subjectSearch {
	margin: 0 auto;
	text-align: center;
}

.subjectGiphy {
	padding: 2px;
}